sudo: required
services:
- docker
language: python
python:
- '2.7'
- '3.6'
install: pip install tox-travis coveralls
script:
- tox
after_success:
- coveralls
- VERSION=$(cat version.txt)
- echo "Building $TRAVIS_BRANCH image from
  commit $COMMIT"
- docker build -f Dockerfile -t $TRAVIS_REPO_SLUG:latest -t $TRAVIS_REPO_SLUG:$VERSION .
- if [ "$TRAVIS_BRANCH" == "master" ]; then docker login -u $DOCKER_USER -p $DOCKER_PASS; docker push $TRAVIS_REPO_SLUG; fi
env:
  global:
  - COMMIT=${TRAVIS_COMMIT::8}
  - secure: ulm4YahXYdMYiibMTlqu6iJmH31X+4tSlhlgryUegwCIVd4oy5cFTCqaCsylwrx7mTYFWSgVL1u/Ueu/F1npOZH9mhkObQCCAE6kgPkN6IFw3MTo4z5Txtq/TMDSiWlWrU7p4nNBTdj1ubk3z/c/E8Lpg37TaqlRMxJPwJYQoFWGLVsoI02wY2ElV5hK7x63Ip+cRnv8ESJo/opMV/83sJk55cKai1gK8Ue/LT7oGyq1u7fXiHWwazmllAVox/3PVEsaw6HNRsMndJspTpBmRyAmqmrb8i/7nUtbLPyk/ZZt7QcbjFaAeYbwto9Ep1WbUa674NFTGYzFqYDiwyiXYj4OiCct3UFKt8CqyMzt1tK1L8M3DS9xhbC7ve5uPuvz2Mj/4pmfIy7NwA8CP9YsBW+nTO/VC1rUbXi0BLpINnRi1nsOW/MObvN9RmwEyWuQ46oIQyTDkKuZmlPMWzKfw6gr3MMuYxUhTPZMT240WVqblS71sKBKlSoLq36b+Km5/+tWVprmMlETykM8ZRLymwhsRqggMJntLZN2SepP5YJS0Yb2B7KjKfAlZCXZyrd7B8GbZaVB9E7FmuAQc8sWGYwwq8ntgtEe1kWoruBRXZyDPe7juPYtSD5amyB14B/QV48oV/GUlMEheZRaXmxfBCAtAqvkcQ5qBiPcLjs3//M=
  - secure: dOgPMMSKG5WBjaoF2J5oo3FZBWNDtzHbQqq64Sw+ILGbyWN01FWmVMsTUq61Ygwjy6enjhubdsfV+YbJDYtn5AfnlBjWziuBpD1vbceiNO5JVD6qa21FFk/D6kjrymz3MMeSOQSUGKt6nN56ElO0YRTw72IOyexabTdJAe8dU6u8vubenoUvgQTscxN0xASpXGz5dTZ2VGOyf8o9fGrAWFDlMhiHErrViCDIxBwKG17J/BAe10hZHhAc4bcbvUiGX6eWsoLFvQU8hXcgQYhfiER6UubTBUrY2yo5+Q1qgHJFf4uiF09GMVFkpKREh2nny8DrE9YigAFzWjiheEjc8KNbAXDcZi1zqZ5DJGcjp4ElSfYibE79kHXBB4U7sROpDGYpo2/dRzKBjrQPCvO1op6yCQkbu7QgEAXIUhbY1fYDB8vQa3d17xI71jPE0T4b6UwPSTGMmDLANlMpr6kChnaYvSU+hZByy09AK+r9c2KtSI71v9rtDU5A2JcqpLyyyG2WBSVuYVREduu8bhpQt95FVbOd9QoIHz7z66d6OjllEINYkT2CX5oPR8lrL2ceBAd4QpS0D5LcQbrRvVqGdJS0CQJ6bMeiW+hYilCuL061RmJOadPgLWGYHvKCPX0ejLn7bK5Y5XLSgN1MiZ4IgmYq0oT5KCy4UZDd/j41TA8=
