[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
coverage = "*"
coveralls = "*"
flake8 = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"
pytest-pep8 = "*"

[packages]
decorator = "*"
dnspython = "*"
eventlet = "*"
Flask = "*"
Flask-Caching = "*"
netifaces = "*"
prometheus-client = "*"
requests = "*"
six = "*"
uwsgi = "*"

[requires]
python_version = "3.7"
