[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decorator = "*"
dnspython = "*"
eventlet = "*"
Flask = "*"
Flask-Caching = "*"
netifaces = "*"
prometheus-client = "*"
requests = "*"
six = "*"
gunicorn = "*"

[dev-packages]
black = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"
pytest-pep8 = "*"

[requires]
python_version = "3.7"
